<div class="bg-primary-subtle border-top border-primary-subtle mt-5">
  <div class="container">
    <footer class="py-3 fw-medium">
      <ul
        class="nav justify-content-center border-bottom border-primary-subtle pb-3 mb-3"
      >
        <li class="nav-item">
          <a href="/" class="nav-link px-2 text-body-secondary">Home</a>
        </li>
        <li class="nav-item">
          <a href="/pages/todos" class="nav-link px-2 text-body-secondary">Todo</a>
        </li>
        <li class="nav-item">
          <a href="/pages/categories" class="nav-link px-2 text-body-secondary">Category</a>
        </li>
      </ul>
      <p class="text-center text-body-secondary">
        © 2025 <span class="fw-semibold">Bennefit Christy Saragih</span>. All
        Rights Reserved.
      </p>
    </footer>
  </div>
</div>
